---
const optional = false;
---
<title>Damian Szalimow - personal profile</title>
<meta name="description" content="Description of my website">
<meta name="robots" content="index,follow">
<link rel="canonical" href="URL for this page">

<meta http-equiv="content-language" content="pt-br">
{optional && 
<meta name="author" content="author-name..."/>
<meta name="copyright" content="copyright..."/>
<meta name="apple-mobile-web-app-title" content="Gatos Galácticos LTDA"/>
}
<meta name="creator" content="Karytonn DEV">


