*,
*::before, 
*::after {
	box-sizing:border-box;
	padding: 0;
	margin: 0px;
}

h1,
h2,
h3, 
h4, 
p {
	margin:0;
	font-family: "Electrolize", sans-serif;
	font-weight: 500;
	font-style: normal;
}
/* coppy from PostSection */
/* h3{
	font-weight: 900;
	font-family: "Roboto", serif;
	font-weight: 400;
	font-style: normal;
}
.post-section p {
	padding-top: 1rem;
	line-height: 1.5;

	font-family: "Roboto", serif;
	font-weight: 400;
	font-style: normal;
}

.post-section{
	max-width: 70vw ;
	background-color: white;
	padding: 1rem;
	margin-top: 2rem;
	border-radius: 5px;
} */
/* end */
li {
	text-wrap: pretty;
}


img {
	max-width: 100%;
	display: block;
}
button {
    all: unset; 
    background: none; 
    border: none; 
    padding: 0; 
    font: inherit; 
    color: inherit;
    cursor: pointer; 
}

button::after{
    display: none;
}
a {
  color: inherit; 
  text-decoration: none; 
  outline: none; 
}

a:visited {
  color: inherit; 
}

a:hover,
a:focus {
  text-decoration: none; 
  color: inherit; 
}

:root {
	--clr-natural-100: hsl(48,71%,99%);
	--clr-natural-200: hsl(237,20%,80%);
	--clr-natural-400: hsl(252,2%,41%);
	--clr-natural-800: hsl(240,100%,5%);
	--clr-natural-900: hsl(238,92%,5%);

	--fw-regular: ??;
	--fw-semi-bold: ??;
	--fw-bold: ??;
	--fs-400: 1rem;
	--fs-500: 1.25rem;
	--fs-600: 1.5rem;
	--fs-700: 2rem;
	--fs-800: 2.5rem;
	--fs-900: 3rem;
}

body{
    background-image: linear-gradient(to right, rgba(104,138,187,255) , rgba(132,160,199,255));
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}