---
import MainLayout from "../../layouts/MainLayout.astro"
const manuLinks = {
    occup : "../occupationally/",
    hob : "../hobbistically/",
    edu : "../educationally/",
    con : "../contactually/"
}
---
<MainLayout manuLinks = {manuLinks}>   
    <p>zawód</p>
</MainLayout>