---
import { Temporal } from "@js-temporal/polyfill";

const now = Temporal.Now.plainDateISO().year;
const formattedYear = now.toString();
console.log(formattedYear)
---


<footer>
  <p>&copy; {formattedYear} All rights reserved.</p>
</footer>
