<div class="logotype-container">
    <span class="logotype-maintitle">damian szalimow</span>
    <div class="logotype-subtitle-container">
        <div class="left-line"></div>
        <span class="logotype-subtitle">personal profile</span>
        <div class="right-line"></div>
    </div>
</div>

<style>
    
.logotype-container {
    font-family: "Parkinsans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    justify-items: center;
    align-items: center;
}

.logotype-maintitle {
    font-size: 40px;
}

.logotype-subtitle-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
}

.logotype-subtitle{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    min-width: fit-content;
    padding-left: 4px;
}
.left-line,
.right-line {
  flex-grow: 1; 
  height: 2px; 
  background-color: rgb(255, 255, 255);
}


@media(max-width:600px){
    .logotype-maintitle {
        font-size: 30px;
        /* font-size: clamp(20px,4vw,60px); */
    }
    
    .logotype-subtitle{
        font-size: 15px;
        /* font-size: clamp(12px,4vw,30px); */
    }
}
</style>