---
const {frontmatter} = Astro.props

---

<style is:global>
    h3{
	font-weight: 900;
	font-family: "Roboto", serif;
	font-weight: 400;
	font-style: normal;
}
.post-section p {
	padding-top: 1rem;
	line-height: 1.5;

	font-family: "Roboto", serif;
	font-weight: 400;
	font-style: normal;
}

.post-section{
	max-width: 70vw ;
	background-color: rgb(255, 255, 255);
	padding: 1rem;
	margin-top: 2rem;
	border-radius: 5px;
}

.post-section ul {
	margin-left: 2rem;
}

.post-section ul li {
	padding-top: 1rem;
	line-height: 1.5;

	font-family: "Roboto", serif;
	font-weight: 400;
	font-style: normal;
}

@media(max-width:600px){
	.post-section {
		max-width: 90vw
	}
}
</style>

<div class="post-section">
    <h3>{frontmatter}</h3>
    <slot />
</div>
