---
import Logotype from "../components/Logotype.astro"
import Manu from "../components/Manu.astro"
import ManuMobile from "../components/ManuMobile.astro"

import "../styles/global.css"

const {manuLinks} = Astro.props
---

<html lang="en">
	<body>
		<Logotype></Logotype>
		<div id="responsive-container">
			<div id="big-component" style="display: none;">
				<Manu manuLinks = {manuLinks}></Manu>
			</div>
			<div id="small-component" style="display: none;">
				<ManuMobile manuLinks = {manuLinks}></ManuMobile>
			</div>
		</div>
        <slot></slot>
	</body>
</html>

<script>
	const handleResize = () => {
	  const isSmallScreen = window.innerWidth < 600;
	  const bigComponent = document.getElementById('big-component') as HTMLElement;;
	  const smallComponent = document.getElementById('small-component') as HTMLElement;;
  
	  // Przełączanie widoczności
	  if (isSmallScreen) {
		bigComponent.style.display = 'none';
		smallComponent.style.display = 'block';
	  } else {
		bigComponent.style.display = 'block';
		smallComponent.style.display = 'none';
	  }
	};
  
	handleResize();
	window.addEventListener('resize', handleResize);
  
  </script>
